.article-metadata .author-underlined {
    text-decoration: underline; }

.section-subsubheading {
    font-size: 1.15rem;
}

.people-widget .mb-4 {
    padding-top: 1.25rem;
    padding-bottom: -.25rem;
}