@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap');
// boldonse font family was nice too

// @font-face {
//     font-family: "Nick Font";
//     src: url('/fonts/Nickfont2-Regular.otf');
// }

.article-metadata .author-underlined {
    text-decoration: underline; 
}

.section-subsubheading {
    font-size: 1.15rem;
}

.view-list .section-subheading a{
    color: black;
}

.btn-links > .btn {
    border-color: $sta-link;
    color: $sta-link;
    border-width: 1px;
  }

.btn-links .btn-outline-primary:hover {
    background-color: $sta-link-hover;
    border-color: $sta-link-hover;
    color: $sta-background;
}

.dark .btn-links .btn-outline-primary:hover {
    background-color: $sta-dark-link-hover;
    border-color: $sta-dark-link-hover;
    color: $sta-dark-background;
}

.dark .view-list .section-subheading a {
    color: white;
    border-bottom: solid 1px transparent; }

.dark .article-style {
    color: white;
}

.dark a {
    color: $sta-dark-link;
    border-bottom: solid 1px transparent; }

// .section-subsubheading a {
//     color: #2B2D42;
// }

.dark .btn-links > .btn {
    border-color: $sta-dark-link;
    color: $sta-dark-link;
  }

.dark .btn-primary, .dark .btn.btn-primary.active {
    color: inherit;
}

// .dark .experience .m-2 .border, .experience .col.border-right {
//     border-color: #f8f8f2 !important;
//   }

// Adjust spacing for people widget
.people-widget .mb-4 {
    padding-top: 1.25rem;
    padding-bottom: -.25rem;
}

// Add spacing below year-specific blocks of talks
#talk_list .col-lg-10 {
    padding-bottom: 2rem;
}

.navbar-brand {
    // font-family: "IBM Plex Mono", sans-serif;
    font-family: "Staatliches";
    // font-family: "Nick Font";
    font-weight: 700;
    font-style: normal;
}

h1:not(.article-container > h1) {
    // font-family: "Boldonse", monospace;
    font-family: "Staatliches";
    // font-family: "Nick Font";
    // font-weight: 700;
    // font-style: bold;
    font-size-adjust: .9;
    line-height: 135%;
    padding-bottom: 2%;
}

.hero-title {
    margin-bottom: -1rem;
}

.cta-btns a {
    font-family: "Staatliches";
}

.cta-btns i {
    margin-right: .15em;
}

.article-container h1 {
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
}

.portrait-title h2 {
    font-weight: 500;
}

.portrait-title h3 {
    font-weight: 400;
}

.card .card-image.hover-overlay::after{
    content: '\f002';
}