@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=DM+Serif+Display:ital@0;1&family=Permanent+Marker&family=Rock+Salt&display=swap');

.article-metadata .author-underlined {
    text-decoration: underline; }

.section-subsubheading {
    font-size: 1.15rem;
}

.dark .card .section-subheading a {
    color: #f8f8f2;
    border-bottom: solid 1px transparent; }

.dark  .section-subheading a {
    color: #f8f8f2;
    border-bottom: solid 1px transparent; }

.section-subsubheading a {
    color: #2B2D42;
}

.dark .btn.btn-sm, .btn-group-sm > .btn {
    border-color: #afd0eb;
  }

  .dark .btn-primary, .dark .btn.btn-primary.active {
    color: inherit;
  }

// .dark .experience .m-2 .border, .experience .col.border-right {
//     border-color: #f8f8f2 !important;
//   }

// Adjust spacing for people widget
.people-widget .mb-4 {
    padding-top: 1.25rem;
    padding-bottom: -.25rem;
}

// Add spacing below year-specific blocks of talks
#talk_list .col-lg-10 {
    padding-bottom: 2rem;
}

.navbar-brand {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

h1:not(.article-container > h1) {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.article-container h1 {
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
}

.portrait-title h2 {
    font-weight: 500;
}

.portrait-title h3 {
    font-weight: 400;
}

.card .card-image.hover-overlay::after{
    content: '\f002';
}